body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(72deg,rgba(67, 12, 75, 0.85) 10%,rgba(220, 134, 241, 0.85)99%);
}

.slider {
    width: 800px;
    height: 500px;
    overflow: hidden;
    position: absolute;
    border-radius: 10px;
}

.navigation-bar {
    position: absolute;
    bottom: 20px;
    display: flex;
    left: 50%;
    transform: translate(-50%);
}

input {
    display: none;
}

.manual-btn {
    border: 2px solid #fff;
    padding: 10px;
    border-radius: 20px;
    cursor: pointer;
}

.manual-btn:not(:last-child) {
    margin-right: 40px;
}

.manual-btn:hover {
    background: rgb(209, 139, 226);
    transition: 0.5s;
}

.slides {
    display: flex;
    width: 500%;
    height: 100%;
}

.slide {
    width: 20%;
    transition: 0.5s;
}

.slide img {
    width: 100%;
    height: 100%;
}

#radio1:checked ~ .first {
    margin-left: 0;
}

#radio2:checked ~ .first {
    margin-left: -20%;
}

#radio3:checked ~ .first {
    margin-left: -40%;
}

#radio4:checked ~ .first {
    margin-left: -60%;
}

#radio5:checked ~ .first {
    margin-left: -80%;
}

.navigation-auto {
    position: absolute;
    bottom: 20px;
    display: flex;
    left: 50%;
    transform: translate(-50%);
}

.navigation-auto div {
    border: 2px solid #fff;
    padding: 10px;
    border-radius: 20px;
    cursor: pointer;
}

.navigation-auto div:not(:last-child) {
    margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1 {
    background-color: purple;
}

#radio2:checked ~ .navigation-auto .auto-btn2 {
    background-color: purple;
}

#radio3:checked ~ .navigation-auto .auto-btn3 {
    background-color: purple;
}

#radio4:checked ~ .navigation-auto .auto-btn4 {
    background-color: purple;
}

#radio5:checked ~ .navigation-auto .auto-btn5 {
    background-color: purple;
}